{%extends 'base.html'%}
{%block body%}
<!--question section  -->

<div class="card text-bg-success mb-3" style="max-width:100%;">
    <div class="card-header">
        {%if request.user.profile.profile_pic%}
        <img src="{{request.user.profile.profile_pic.url}}" class="rounded-circle" alt="..." height="80px">
        {%endif%}
        {{request.user}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Add a new Post</h5>
      <p class="card-text">
        <form action=""method="post" enctype="multipart/form-data">
           {%csrf_token%}
           <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>
           <button type="submit">Post</button>
        </form>   
      </p>
    </div>
  </div>



<!-- end question section -->
<body>
  welcome {{request.user}}
    {%if request.user.profile%}
        <a href="{%url 'profile-detail'%}">View Profile</a>
        <a href="{%url 'profile-update' request.user.profile.id%}">Update Profile</a>
    {%else%}
        <a href="{%url 'profile-add'%}">Add Your Profile</a>

    {%endif%}
  
<!-- question form section -->
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<!-- end question form section -->

<!-- question list section start -->
{%for p in posts%}
   <div>
    {{p.description}}

    {%if p.image%}
      <img src="{{p.image.url}}" alt="">
    {%endif%}
    asked by {{p.user}} on {{p.date}}
   </div>
   <div>
    Post your Comments
    <form action="{%url 'add-comment' p.id%}" method="post">
        {%csrf_token%}
        <input type="text" name="comments" placeholder="enter your comments">
        <button type="submit">Post</button>
    </form>
   </div>
   <!-- answer list section -->
      <h2><u>COMMENTS</u></h2>
      {%for cmnt in p.post_comments%}
        <div>
            {{cmnt.comment}} posted by {{cmnt.user}} on {{cmnt.date}} <a href="{%url 'like' cmnt.id%}">Like</a> {{cmnt.like_count}}
        </div>
    <!-- end answer list -->

      {%endfor%}

   <!-- end answer list -->
   <hr>
{%endfor%}
<!-- question list section end -->
</body>
{%endblock%}